.App {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-body {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

